<table border="1" width="100%">
  <tr>
    <td width="80%">
      <p>
        keepitonthylowkeepitonthylowkeepitonthylowkeepitonthylowkeepitonthylowkeepitonthylowkeepitonthylow
        keepitonthylowkeepitonthylowkeepitonthylowkeepitonthylowkeepitonthylowkeepitonthylowkeepitonthylow
        keepitonthylowkeepitonthylowkeepitonthylowkeepitonthylowkeepitonthylowkeepitonthylowkeepitonthylowkeepitonthylow
        keepitonthylowkeepitonthylowkeepitonthylowkeepitonthylowkeepitonthylowkeepitonthylowkeepitonthylow
      </p>
      <hr />
      <% if (allrecs.length > 0) {%> <% allrecs.forEach((recref, index) => { %>
      <product>
        <table style="color: black">
          <tr>
            <td colspan="2"><%= recref.proudctname %></td>
          </tr>
          <tr>
            <td colspan="2"><%= recref.prodimage %></td>
          </tr>
          <tr>
            <td colspan="2"><%= recref.description %></td>
          </tr>
          <tr>
            <td><%= recref.saleprice %></td>
          </tr>
          <tr>
            <td><%= recref.status %></td>
          </tr>
          <tr>
            <td>
              <a href="/product/<%= recref.product_id %>/show">Details</a>
            </td>
          </tr>
        </table>
      </product>
      <% }); %> <% } %>
    </td>
    <td width="20%">
      <% if (promos.length > 0) {%> <% promos.forEach((recref, index) => { %>
      <p><img src="/images/promo/<%= recref.promoimage %>" /></p>
      <% }); %> <% } %>
    </td>
  </tr>
</table>
