<% if (allrecs.length > 0) {%> <% allrecs.forEach((recref, index) => { %>
<product>
  <form action="/shop/add" method="post">
    <input type="hidden" name="product_id" value=<%= recref.product_id %> > 
    <table>
      <tr>
        <td colspan="2"><%= recref.productname %></td>
      </tr>
      <tr>
        <td colspan="2"><img src="/images/<%= recref.prodimage %>" alt="uhhhh"></td>
      </tr>
      <tr>
        <td colspan="2"><%= recref.description %></td>
      </tr>
      <tr>
        <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(recref.saleprice) %></td>
      </tr>
      <tr>
        <td><%= recref.status %></td>
        <td><a href="/product/<%= recref.product_id %>/show">Details</a></td>
      </tr>
      <td>
        Quantity:
        <select name="qty" required width="3">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </td>
      <td><button type="submit">Add to Cart</button></td>
    </table>
  </form>
</product>
<% }); %> <% } %>
