<div class="db">
<h1>Details</h1>
  <table>
    <tr>
      <td>Promo ID:</td>
      <td><%= onerec.promotion_id %></td>
    </tr>
    <tr>
      <td>Promo Name:</td>
      <td><%= onerec.promotitle %></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><%= onerec.description %></td>
    </tr>
    <tr>
      <td>Start Date:</td>
      <td><%= onerec.startdate %></td>
    </tr>
    <tr>
      <td>End Date:</td>
      <td><%= onerec.enddate %></td>
    </tr>
  </table>
</div>