<div class="db">
  <% if (allrecs.length > 0) {%>
  <table border="1">
    <tr>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Sale Price</th>
      <th>Status</th>
      <th>Homepage</th>
    </tr>
    <% allrecs.forEach((recref, index) => { %>
    <tr>
      <td><%= recref.product_id %></td>
      <td><%= recref.productname %></td>
      <td><%= recref.saleprice %></td>
      <td><%= recref.status %></td>
      <td><%= recref.homepage %></td>
    </tr>
    <% }); %>
  </table>
  <% } else { %>
  <p>Not Records Available</p>
  <% } %>
</div>