<div class="db">
  <h1>Details</h1>
  <table>
    <tr>
      <td>Product ID:</td>
      <td><%= onerec.product_id %></td>
    </tr>
    <tr>
      <td>Product Name:</td>
      <td><%= onerec.productname %></td>
    </tr>
    <tr>
      <td>Image:</td>
      <td><%= onerec.prodimage %></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><%= onerec.description %></td>
    </tr>
    <tr>
      <td>Supplier:</td>
      <td><%= onerec.supplier_id %></td>
    </tr>
    <tr>
      <td>Category:</td>
      <td><%= onerec.category_id %></td>
    </tr>
    <tr>
      <td>Sale Price:</td>
      <td align="left">
        <%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD'
        }).format(onerec.saleprice) %>
      </td>
    </tr>
    <tr>
      <td>Status:</td>
      <td><%= onerec.status %></td>
    </tr>
    <tr>
      <td>Homepage:</td>
      <td><%= onerec.homepage %></td>
    </tr>
  </table>
</div>
