<div class="db">
  <h1>Details</h1>
  <table>
    <tr>
      <td>Order ID:</td>
      <td><%= onerec.order_id %></td>
    </tr>
    <tr>
      <td>Customer ID:</td>
      <td><%= onerec.customer_id %></td>
    </tr>
    <tr>
      <td>Sale Date (MM-DD-YYYY):</td>
      <td><%= onerec.saledate.toLocaleDateString('en-US') %></td>
    </tr>
    <tr>
      <td>Customer Notes:</td>
      <td><%= onerec.customernotes %></td>
    </tr>
    <tr>
      <td>Payment Status:</td>
      <td><%= onerec.paymentstatus %></td>
    </tr>
    <tr>
      <td>Authorization Num:</td>
      <td><%= onerec.authorizationnum %></td>
    </tr>
  </table>
</div>
