<h1>Details</h1>
<table>
  <tr>
    <td>Customer ID:</td>
    <td><%= onerec.customer_id %></td>
  </tr>
  <tr>
    <td>Customer Name:</td>
    <td><%= onerec.firstname %></td>
    <td><%= onerec.lastname %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= onerec.email %></td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td><%= onerec.phone %></td>
  </tr>
</table>
